.form-container form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}
.login-form-header {
  display: flex;
  justify-content: end;
  margin-top: 3rem;
  font-weight: 450;
  font-size: 1rem;
  font-style: italic;
}
.label-header {
  display: flex;
  justify-content: start;
}
.login-input {
  padding: 0.7rem;
  min-width: 20vw;
}
.login-form-button {
  cursor: pointer;
  background: white;
  margin-top: 3rem;
  border: none;
  border-bottom: 2px solid black;
  padding: 1rem;
}
.login-form-button:hover {
  background: black;
  color: white;
}
@media (max-width: 1300px) {
  .form-container form {
    min-width: 70vw;
  }
}
