@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --dark-blue: #123b6d;
  --washed-blue: #a8c5ff;
  --dark-mode-grey: #171719;
  --dark-mode-accent: #131f2b;
  --calm-gray: #ebedf2;
  --light-gray: #ebedf2;
  --darker-gray: #676767;
}
